*.cif
*.pdb
*.out
*.pyc
*.save
*.pkl
*.txt
*.png
*.csv
datasets/
.conda/
results/AF3_predictions/
results/patch_to_score/
*.keras
*.v2
*.npy
*.bibtex
*.a3m
*.gz
*.m8
models/AF2_multimer/
tmp/
chainsaw/
models/structural_aligners/dali_aligner/
.vscode/